<main>
        <div class="wrap">
           
        </div>
        <footer>
            <nav>
                    <div class="left">
                            <a href="">
                                <img src="images/store.png" alt="">
                                <b>店铺</b>
                            </a>
                            <a href="">
                                    <img src="images/cart.png" alt="">
                                    <b>购物车</b>
                            </a>
                        </div>
                        <div class="right">
                                <a href="">加入购物车</a>
                                <a href="">立即购买</a>
                        </div>
            </nav>
           
        </footer>
    </main>