<main>
        <div class="scrollBox">
                <header>
                        <div>
                                <a href="/search.html" class="searchInput">
                                        <img src="images/search_btn.png" alt="">
                                        <span>搜素商品&nbsp分类&nbsp功效</span>
                                    </a>
                        </div>
                       
                        <a href="/search.html" class="searchBtn"><img src="images/search_list2.png" alt=""></a>
                    </header>
                    <div class="topNav">
                            <nav>
                                    <ul>
                                        <li><b class="select">首页</b></li>
                                        <li><b>急速免税店</b></li>
                                        <li><b>母婴</b></li>
                                        <li><b>轻奢</b></li>
                                        <li><b>名品特卖</b></li>
                                    </ul>
                                </nav>
                    </div>
                    
                    <div class="bar">
                        <ul>
                            <li><b class="select">今日10点上新</b></li>
                            <li><b>明日10点预告</b></li>
                        </ul>
                    </div>
                    <div class="wrap">
                        <div class="container">
                        </div>
                       
        </div>
        
        <div class="foot">
                <img src="/images/arrow.png"/>
                <b>上拉加载更多...</b>
              </div>
    </div>
    </main>
        <nav>
            <ul>
                <li><img src="images/5e9e00537e4a635e36e84db81f2cc17a.png" alt=""><b><a href="#/home">首页</a></b></li>
                <li><img src="images/b51a66ca3ddb31ec0edbd67ea68f7589.png" alt=""><b><a href="#/yiqituan">拼团</a></b></li>
                <li><img src="images/77b9454e8dd41a060510a445010ac934.png" alt=""><b><a href="#/cart">购物车</a></b></li>
                <li><img src="images/829aa091062366a9f7b93cfffaa0e681.png" alt=""><b><a href="#/myAccount">我的</a></b></li>
            </ul>
        </nav>