<div class="topNav">
    <nav>
        <ul>
            <li><b class="select">推荐</b></li>
            <li><b>美妆</b></li>
            <li><b>母婴</b></li>
            <li><b>礼品</b></li>
            <li><b>饰品配饰</b></li>
        </ul>
    </nav>
</div>
<main>

    <div class="scrollBox">



        <div class="wrap">
            <ul class="container">
                <li>
                    <a class="goods"href="//s.h5.jumei.com/yiqituan/detail?item_id=ht190603p4122726t4&amp;type=global_deal&amp;selltype=coutuanlist&amp;selllabel=coutuan_home">
                        <div class="people-number">1399条评论</div>
                        <div class="goods-topsmall">
                            <img src="http://mp6.jmstatic.com/product/004/122/4122726_std/4122726_1000_1000.jpg?v=1516070912&amp;imageView2/2/w/440/q/90">
                        </div>
                        <div class="goods-middle"><span class="goods-num">[2人团]</span>【手机专享】得鲜绿茶+茶树卸妆水套装300ml*2</div>
                        <div class="goods-foot">
                            <div class="price-left"><span class="ct-price">¥49.9</span>
                                <span class="sc-price"></span><span class="jm-price">单买价¥104</span>
                            </div>
                            <div class="time-right timer" data-time="46481">
                                <span class="sy-time" style="display:none;">仅剩12:52:07</span>
                                <span class="goods-btn">去开团</span>
                            </div>
                        </div>
                    </a></li>
            </ul>

        </div>

        <div class="foot">
            <img src="/images/arrow.png" />
            <b>上拉加载更多...</b>
        </div>
    </div>
</main>
<nav>
    <ul>
        <li><img src="images/89ea87200c623f4c7809f21f2ab4bce8.png" alt=""><b><a href="#/home">首页</a></b></li>
        <li><img src="images/562fb7b2ae7bf1cacdc8ed91493e53af.png" alt=""><b><a href="#/yiqituan">拼团</a></b></li>
        <li><img src="images/77b9454e8dd41a060510a445010ac934.png" alt=""><b><a href="#/cart">购物车</a></b></li>
        <li><img src="images/829aa091062366a9f7b93cfffaa0e681.png" alt=""><b><a href="#/myAccount">我的</a></b></li>
    </ul>
</nav>